<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" /></sectionGroup></sectionGroup></sectionGroup></configSections>
  <appSettings>
<add key="safeParameters" value="OrderID-int32,CustomerEmail-email,ShippingZipcode-USzip" />
		<add key="serverd1" value="1.15.91.156|sa|douDOUsiMa2021|2.0acc_1.15.91.156|sa|douDOUsiMa2021|2.0game" />
		<add key="serverd2" value="1.15.91.156|sa|douDOUsiMa2021|2.0aac_1.15.91.156|sa|douDOUsiMa2021|2.0game" />
		<add key="serverPublicDb" value="1.15.91.156|sa|douDOUsiMa2021|2.0pub_1.15.91.156|sa|douDOUsiMa2021|2.0pub" />
		<add key="ConnString" value="Data Source=1.15.91.156;uid=sa;pwd=douDOUsiMa2021;database=2.0web;Packet Size=4096;Pooling=true;Max Pool Size=500;" />
		<!--<add key="ConnString" value="Data Source=1.15.91.156;uid=sa;pwd=douDOUsiMa2021;database=2.0web;Packet Size=4096;Pooling=true;Max Pool Size=500;Min PoolSize=1" />-->
                <!-- 激活类型  0 默认带lua脚本端之间的激活。1 不带lua脚本端5.0/6.0激活到带lua脚本端 激活后升天气功需重新学 -->
                <add key="ActivateType" value="0" />
		<add key="MailKG" value="0" />
		<add key="MailServer" value="127.0.0.1" />
		<add key="MailSmtpMode" value="1" />
		<add key="MailUserName" value="admin" />
		<add key="MailPassword" value="admin" />
		<add key="Mailsendfrom" value="admin@xwwl.com" />
                <add key="LicenseKey" value="U+ksLWsqw11LStmg7yKxyplxIK6+qYw5PsNOu6PYwdnlpGy10UuhuSp8MJ6p+A+RSAlVjxRkqJa9ju1nGRV+7Xwi62F07iysN0JifNKRs2BQQJGgjJIgRe7f7/U6I5wjShD9JmAuyRxgtWM0Kl22Wtl7v17FUWArESQomRytQjI=" />
		<add key="TopVer" value="1" />
		<!--网站名称  网站标题显示的名称 -->
		<add key="SerName" value="牛牛江湖V2.0" />
		<!--这个是易宝 商家ID -->
		<add key="FLD_MerId" value="10001049257" />
		<!--这个是易宝 商家密钥 -->
		<add key="FLD_keyValue" value="LtPv9u9zcP276amSjo4cf42mxd1CrPW8C828E2BVve9aCu9125xIM63vF61p" />
		<add key="BackUrl" value="http://124.192.119.114:8889" />
		<add key="ImgDir" value="wtfso" />
		<!-- 测试商户编号，请在正式上线时使用您自己的商户编号 -->
		<add key="merhantId" value="10001049257" />
		<!-- 测试商户密钥,请在正式上线时使用您自己的商户密钥 -->
		<add key="keyValue" value="LtPv9u9zcP276amSjo4cf42mxd1CrPW8C828E2BVve9aCu9125xIM63vF61p" />
		<add key="authorizationURL" value="https://www.yeepay.com/app-merchant-proxy/node" />
		<add key="queryRefundReqURL" value="https://www.yeepay.com/app-merchant-proxy/command" />
		<add key="authorizationSZXURL" value="https://www.yeepay.com/app-merchant-proxy/command.action" />
	</appSettings>
	<connectionStrings>
		<add name="webConnectionString1" connectionString="Data Source=QYWL-7C20F90D5C;Initial Catalog=web;Integrated Security=True;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<httpHandlers>
			<add verb="POST,GET" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro" />
			<remove verb="*" path="*.asmx" />
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /></httpHandlers>
		<!-- 设置 compilation debug="true" 将调试符号插入已编译的页面中。但由于这会 影响性能，因此只在开发过程中将此值 设置为 true。-->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies></compilation>
		<!-- 通过 <authentication> 节可以配置 ASP.NET 使用的 安全身份验证模式，以标识传入的用户。 -->
		<authentication mode="Windows" />
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
        <customErrors mode="Off"/>
		<globalization requestEncoding="gb2312" responseEncoding="gb2312" />
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /></controls></pages>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /></httpModules></system.web>
	<system.codedom>
			<compilers>
				<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
					<providerOption name="CompilerVersion" value="v3.5" />
					<providerOption name="WarnAsError" value="false" /></compiler>
				<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
					<providerOption name="CompilerVersion" value="v3.5" />
					<providerOption name="OptionInfer" value="true" />
					<providerOption name="WarnAsError" value="false" /></compiler></compilers></system.codedom>
	<system.webServer>
			<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<remove name="ScriptModule" />
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /></modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated" />
			<remove name="ScriptHandlerFactory" />
			<remove name="ScriptHandlerFactoryAppServices" />
			<remove name="ScriptResource" />
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /></handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" /></system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" /></dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" /></dependentAssembly></assemblyBinding></runtime></configuration>

